<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>

		<!-- BD -->
		<add key="Server" value="LAPTOP-DT9I7H05\SQLEXPRESS" />
		<add key="DB" value="Comercio" />

	</appSettings>
</configuration>